body {
    flex-direction: column;
    min-height: 100vh;
        display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 550;
    font-family: 'Atkinson Hyperlegible', 'Source Sans Pro', 'Roboto', Arial, sans-serif;
    display: flex;
    background: linear-gradient(to bottom, #83a4d4, #87CEEB);


}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #ffffffcc;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 16px 0;
    z-index: 100;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.nav-bar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-bar a {
  position: relative;
  color: #1e3a5f;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  transition: transform 0.3s ease;
  padding: 6px 0;
}

/* Sublinhado */
.nav-bar a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1e88e5;
  transition: width 0.3s ease;
}

/* Hover: cresce visualmente com scale */
.nav-bar a:hover {
  transform: scale(1.15); /* Cresce tudo (inclusive letra) */
}

.nav-bar a:hover::after {
  width: 100%;
}

.footer {
  position: relative;
  bottom: 0;
  margin-top: auto;
  color: white;
  padding: 24px 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer p {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.footer-links a{
  text-decoration: none;
  color: #1e3a5f;
}